@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
/* navigation section */
ul{
    list-style: none;
}

.nav-menu{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
    color: coral;
}
.menu-item{
    display: flex;
    align-items: center;
}
.menu-item li{
    margin: 0 30px;
    font-size: 3vmin;
    padding: 20px;
    

}
.menu-item a{
    color: brown;
}
.menu-item a:hover{
    background-color:white;
    border-radius: 3px;
}
#title{
    color: whitesmoke;
    font-size: 6vmin;
    
}










/* navigation section end */

header {
    width: 100vw;
    height: 100vh;
    background: url('/assets/images/main\ images.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rebeccapurple;
}
.my-header{
    margin-bottom: 300px;
    color: azure;
    text-align: center;
    

}
.my-header h2{
    font-size: 5vmin;
   

}
.my-header h2 span{
    color: burlywood;
    
}
.quotes{
    width: 150px;
    height:4px;

}
.my-header p{
    font-size: 2vmin;
    color: black;
    font-family:'Roboto';
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 20px;

}
.button{
    color:whitesmoke;
    background-color: hotpink;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 2vmin;
}
.button:hover{
    background-color: blue;
}
/*about section */
.about{
    width: 80%;
    padding: 30px 30px 30px;
    
}

.about h1{
    font-size: 6vmin;
    margin-top: 30px;
    margin-bottom: 30px;
   color: brown;
    text-align: center;

}
.about p{
    font-family: 'Roboto';
    font-size: 2vmin;
    text-align: justify;
    margin left: 50px;

    
    
    
}
/* offer section*/
.packages{
    width: 80%;
  
    


}
.topic{
    text-align: center;
    font-size: 2em;
    color: chocolate;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around
 
    
    

    
}
 .row .column{
    display: flexbox;
    flex-direction: column;
 }
    .packages .row{
        margin-top: 30px;
    }

    .row h4{
        font-size: 1.5em;
        margin: 20px auto;

    }
.row p{
    text-align: center;
    color: darkolivegreen;
    margin-bottom: 20px;
}
/* footer section */

footer{
    background-color: #111;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;

}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    padding: 10px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50%;
}
.social-links a i{
    font-size: 2em;
    color:black;
    opacity: 0.9;
}
.social-links a:hover{
    background-color: blueviolet;
    transition: 0.2s;

}
.footernav{
    margin: 30px 0;

}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footernav ul li a{
    color: whitesmoke;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.2s;

}
.footernav ul li a:hover{
    opacity: 1;
}
.copyright{
    background-color: black;
    padding: 20px;
    text-align: center;

}
.copyright p{
    color: whitesmoke;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



